hr {
    height: 5px;
    margin-left: 3px;
    margin-bottom:2px;
}

.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}

.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}

.panel.panel-horizontal {
    display:table;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}