hr {
    height: 5px;
    margin-left: 3px;
    margin-bottom:2px;
}

.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}

.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}



